.container {
    width: 100%;
    max-width: unset;
}

@media only screen and (min-width: 1000px){
    .container {
        width: 50%;
    }
}

h1 {
    text-align: center;
}

button {
    min-width: 8rem;
    float: right;
}

li {
    min-height: 5rem;
    padding-top: 1.3rem !important;
}

.addTodo {
    display: inline-block;
    width: 70%;
}