.container {
    max-width: unset;
}

h1 {
    text-align: center;
}

button {
    min-width: 8rem;
    float: right;
}

li {
    min-height: 5rem;
    padding-top: 1.3rem !important;
}

.addTodo {
    display: inline-block !important;
    width: 70% !important;
}